@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #24f159;
  --clr-primary-a10: #56f36d;
  --clr-primary-a20: #75f681;
  --clr-primary-a30: #8df893;
  --clr-primary-a40: #a3faa5;
  --clr-primary-a50: #b8fbb7;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #1a251a;
  --clr-surface-tonal-a10: #2f3a2f;
  --clr-surface-tonal-a20: #464f45;
  --clr-surface-tonal-a30: #5e665d;
  --clr-surface-tonal-a40: #767e76;
  --clr-surface-tonal-a50: #909690;

  --max-width: 1216px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  min-width: var(--max-width);
}

.title {
  font-size: 2.7rem;
  margin: 1.2rem 0 0 0;
}

.header-description p {
  margin: 0.5rem 0;
}

.header-description {

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}